# PHP & Laravel Dosyaları
/vendor
/.phpunit.cache
.phpunit.result.cache
.env
.env.backup
.env.production
/storage/*.key
/public/storage
/public/hot
/public/build

# Node.js ve Frontend Dosyaları
/node_modules
npm-debug.log
yarn-error.log

# IDE & Editor Ayar Dosyaları
/.idea
/.vscode
/.phpactor.json
/.fleet

# Python Sanal Ortam Dosyaları
/venv/
/env/
/.venv/

# Framework Özgü Dosyalar
Homestead.json
Homestead.yaml
auth.json
